<div class="flex justify-between items-center p-2">
    <h1 class="text-2xl text-gray-700">Consentimiento Informado de <label class="font-medium"
            for="">{{patientData.user_name}} {{patientData.user_lastname}}</label> </h1>
    <div class="flex flex-wrap items-center justify-center gap-2">
        <button
            class=" flex items-center gap-2 bg-blue-600 text-white active:bg-blue-700 font-medium uppercase text-s px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150 disabled:bg-blue-400 pointer-events-auto"
            type="button">
            <span class="pi pi-plus"></span>
            Agregar Concentimiento Informado
        </button>
        <button [routerLink]="['/main/patients']"
            class=" flex items-center gap-2 bg-blue-600 text-white active:bg-blue-700 font-medium uppercase text-s px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150 disabled:bg-blue-400 pointer-events-auto"
            type="button">
            <span class="pi pi-angle-left"></span>
            Regresar
        </button>
    </div>
</div>