<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
<div class="max-w-full mx-auto bg-white p-8">
    <form [formGroup]="historyForm" (ngSubmit)="createHistory()">
        <label class="flex mb-5 font-bold text-black">Datos y Signos Vitales</label>
        <div class="grid gap-6 mb-6 lg:grid-cols-2">
            <div class="flex flex-col">
                <label>Fecha Actual</label>
                <input disabled type="date" class="border border-gray-300 p-2 rounded-md disabled:bg-gray-200"
                    [valueAsDate]="currentDate">
            </div>
            <div class="flex flex-col">
                <label>Atendido por</label>
                <input disabled type="text" class="border border-gray-300 p-2 rounded-md disabled:bg-gray-200"
                    [value]="medicNames">
            </div>
            <div class="flex flex-col">
                <label>Peso/ Peso x Talla</label>
                <div class="flex items-center gap-2">
                    <input type="number" formControlName="weight_patient"
                        class="w-4/5 border border-gray-300 p-2 rounded-md">
                    <label>Kilos/Z</label>
                </div>
            </div>
            <div class="flex flex-col">
                <label>Talla/ Talla x Edad</label>
                <div class="flex items-center gap-2">
                    <input type="number" formControlName="tall_patient"
                        class="w-4/5 border border-gray-300 p-2 rounded-md">
                    <label>c.m/Z</label>
                </div>
            </div>
            <div class="flex flex-col">
                <label>Pulso / Peso x Edad</label>
                <div class="flex items-center gap-2">
                    <input type="number" formControlName="pulse_patient"
                        class="w-4/5 border border-gray-300 p-2 rounded-md">
                    <label>Pulsaciones X Min.</label>
                </div>
            </div>
            <div class="flex flex-col">
                <label>Presión Arterial</label>
                <div class="flex items-center gap-2">
                    <input type="number" formControlName="presure_patient"
                        class="w-4/5 border border-gray-300 p-2 rounded-md">
                    <label>mmHg</label>
                </div>
            </div>
            <div class="flex flex-col">
                <label>Frecuencia Cardiaca</label>
                <div class="flex items-center gap-2">
                    <input type="number" formControlName="frequency_patient"
                        class="w-4/5 border border-gray-300 p-2 rounded-md">
                    <label>X Min.</label>
                </div>
            </div>
            <div class="flex flex-col">
                <label>Temperatura</label>
                <div class="flex items-center gap-2">
                    <input type="number" formControlName="temperature_patient"
                        class="w-4/5 border border-gray-300 p-2 rounded-md">
                    <label>°C</label>
                </div>
            </div>
        </div>
        <label class="flex mb-5 font-bold text-black">Consultorio</label>
        <div class="grid gap-6 mb-6 lg:grid-cols-2">
            <div class="flex flex-col">
                <label>Motivo de consulta</label>
                <textarea formControlName="consult_reason" rows="4"
                    class="p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
                    placeholder="El motivo de consulta" required></textarea>
            </div>
            <div class="flex flex-col">
                <label>Enfermedad actual</label>
                <textarea formControlName="current_illness" rows="4"
                    class="p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
                    required></textarea>
            </div>
            <div class="flex flex-col">
                <label>Exámen Físico / Complementario</label>
                <textarea formControlName="fisic_exam" rows="4"
                    class="p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
                    required></textarea>
            </div>
            <div class="flex flex-col">
                <label>Impresión diagnóstico / Prescripción</label>
                <textarea formControlName="diagnostic" rows="4"
                    class="p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
                    required></textarea>
            </div>
            <div class="flex flex-col">
                <label>Medicamentos</label>
                <p-multiSelect 
                    [options]="medicines" 
                    formControlName="recipe" 
                    optionLabel="name_medicine"
                    display="chip"
                    optionValue="name_medicine"
                    placeholder="Seleccione uno o varios Medicamentos"
                    styleClass="{'ng-invalid': !historyForm.controls['recipe'].valid && historyForm.controls['recipe'].touched}"
                    required
                ></p-multiSelect>
                <div *ngIf="historyForm.controls['recipe'].invalid && historyForm.controls['recipe'].touched" class="text-red-600 text-sm">
                    Seleccione al menos un medicamento.
                </div>
            </div>
            <div class="flex flex-col">
                <label>Indicaciones Médicas</label>
                <textarea formControlName="medic_indications" rows="4"
                    class="p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
                    required></textarea>
            </div>
        </div>
        <div class="grid gap-6 mb-6 lg:grid-cols-2">
            <button [disabled]="historyForm.invalid" type="submit"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center disabled:bg-blue-400 pointer-events-auto">Crear
                Historia</button>
            <button (click)="cancelHistory()"
                class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Cancelar
                Historia</button>
        </div>
    </form>
</div>
