
<div class="w-full h-screen">
  <div class="flex justify-center w-full">
    <img src="../../../../assets/svg/DiabControl_logo_border.svg" alt="DiabControl Logo">
  </div>
  <footer class="relative  pt-8 pb-6 mt-1">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap items-center md:justify-between justify-center">
        <div class="w-full md:w-6/12 px-4 mx-auto text-center">
          <div class="text-sm text-gray-600 font-medium py-1">
            <label for="">Consultorio Medico Milagro © 2024</label>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>

