<p-toast />
<p-confirmDialog />
<div class="flex justify-between items-center p-2">

    <h1 class="text-2xl text-gray-700">Mis pacientes</h1>

    <!-- Boton para generar historia clinica -->
    <button (click)="showDialog('create', 'Agregar Historia Clinica')"
    class=" flex items-center gap-2 bg-blue-600 text-white active:bg-blue-700 font-medium uppercase text-s px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150 disabled:bg-blue-400 pointer-events-auto"
    type="button">
    <span class="pi pi-plus"></span>
    Agregar historia clinica
    </button>

</div>

<div *ngIf="historiesPatient.length === 0" class="flex items-center mt-6 text-center border rounded-lg h-96 mx-2">
    <div class="flex flex-col w-full max-w-sm px-4 mx-auto">
        <div class="p-3 mx-auto text-blue-500 bg-blue-100 rounded-full ">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
            </svg>
        </div>
        <h1 class="mt-3 text-lg text-gray-800 ">No existen Historias Clinicas para este paciente</h1>
        <p class="mt-2 text-gray-500 ">Actualmente no se encuentra registrads ninguna Historia Clinica para este paciente dentro de la aplicacion.
        </p>
    </div>
</div>
