.btn-add{
    display: flex;
    padding: 10px;
    border-radius: 6px;
    align-items: center;
    background-color: #1D4ED8;
    color: #ffffff;
}

.btn-add:hover{
    background-color: #2563EB;
}

.badge-succes, .badge-danger{
    padding: 5px 5px;
    border-radius: 6px;
    color: #FFFFFF;
}

.badge-succes{
    background-color: #10B981;
}

.badge-danger{
    background-color: #EF4444;
}

.btn-action{
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    color: #FFFFFF;
    background-color: #707785;
}

.btn-action:hover{
    background-color: #4B5563;
}