<div class="max-w-full mx-auto bg-white p-8" *ngIf="userData">

    <form [formGroup]="myForm" >
        <label class="flex mb-5" for="">Información Personal</label>
        <div class="grid gap-6 mb-6 lg:grid-cols-2">
            
            <div>
                <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 ">Nombres</label>
                <input disabled type="text" id="first_name"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                    [value]="userData!.user_name" required>
            </div>
            <div>
                <label for="last_name" class="block mb-2 text-sm font-medium text-gray-900">Apellidos</label>
                <input disabled type="text" id="last_name"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                    [value]="userData!.user_lastname" required>
            </div>
            <div>
                <label for="company"
                    class="block mb-2 text-sm font-medium text-gray-900 ">Fecha de Nacimiento</label>
                <input disabled type="text" id="company"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                    [value]="userData!.user_birthdate" required>
            </div>
            <div>
                <label for="company"
                    class="block mb-2 text-sm font-medium text-gray-900 ">Sexo</label>
                <input disabled type="text" id="company"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                    [value]="userData!.user_genre" required>
            </div>
            <div>
                <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 ">Número de Teléfono</label>
                <input disabled type="number" id="phone"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " 
                    [value]="userData!.user_phone" required>
            </div>
            <div>
                <label for="website" class="block mb-2 text-sm font-medium text-gray-900 ">Correo Electrónico</label>
                <input disabled type="string" id="website"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                    [value]="userData!.user_email" >
            </div>
            <div>
                <label for="visitors" class="block mb-2 text-sm font-medium text-gray-900 ">Dirección</label>
                <input disabled type="string" id="visitors"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                    [value]="userData!.user_address" >
            </div>
        </div>
        <label class="flex mb-5" for="">Informarción Formulario</label>

        <div class="grid mb-4">
            <label for="form_title" class="block mb-2 text-sm font-medium text-gray-900 ">Titulo del Formulario</label>
            <input type="text" id="form_title" formControlName="form_title"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                required>
        </div>

        <label class="flex mb-5" for="">Historial Médico</label>

        <div class="grid gap-6 mb-6 lg:grid-cols-2">
            <div>
                <label for="form_diabetes_type" class="block mb-2 text-sm font-medium text-gray-900 ">Tipo de Diabetes</label>
                <select formControlName="form_diabetes_type"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    required>
                    <option value="Tipo 1">Tipo 1</option>
                    <option value="Tipo 2">Tipo 2</option>
                    <option value="Gestacional">Gestacional</option>
                    <option value="Otra">Otra</option>
                </select>
            </div>
        </div>

        <label class="flex mb-5" for="">Monitorización de la Diabetes</label>

        <div class="grid gap-6 mb-6 lg:grid-cols-2">
            <div>
                <label for="form_glucose_mesure_date" class="block mb-2 text-sm font-medium text-gray-900 ">Última Medición de Glucosa (Fecha)</label>
                <input type="date" id="first_name" formControlName="form_glucose_mesure_date"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                    >
            </div>

            <div>
                <label for="form_glucose_level" class="block mb-2 text-sm font-medium text-gray-900 ">Nivel de Glucosa (mg/dL)</label>
                <input type="number" id="form_glucose_level" formControlName="form_glucose_level"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                    >
            </div>

            <div>
                <label for="form_glucose_mesure_frequency" class="block mb-2 text-sm font-medium text-gray-900 ">Frecuencia de Medición de Glucosa:</label>
                <select formControlName="form_glucose_mesure_frequency"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    >
                    <option value="Diaria">Diaria</option>
                    <option value="Semanal">Semanal</option>
                    <option value="Mensual">Mensual</option>
                </select>
            </div>

            <div>
                <label for="form_glucose_average_level" class="block mb-2 text-sm font-medium text-gray-900 ">Nivel Promedio de Glucosa en los Últimos 3 Meses (mg/dL)</label>
                <input type="number" id="form_glucose_average_level" formControlName="form_glucose_average_level"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
                    >
            </div>

        </div>

        <label class="flex mb-5" for="">Hábitos de Vida</label>

        <div class="grid gap-6 mb-6 lg:grid-cols-2">

            <div>
                <label for="form_eat_habits" class="block mb-2 text-sm font-medium text-gray-900 ">¿Sigue una dieta específica para la diabetes?</label>
                <select formControlName="form_eat_habits"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    >
                    <option value=true>Si</option>
                    <option value=false>No</option>
                </select>
            </div>

            <div>
                <label for="form_eat_habits_description" class="block mb-2 text-sm font-medium text-gray-900 ">Que Tipo de Dieta sigue?</label>
                <input type="text" id="form_eat_habits_description" formControlName="form_eat_habits_description"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 disabled:bg-gray-600 pointer-events-auto"
                    >
            </div>

        </div>

        <label class="flex mb-5" for="">Actividad Física</label>

        <div class="grid gap-6 mb-6 lg:grid-cols-2">

            <div>
                <label for="form_physical_activity" class="block mb-2 text-sm font-medium text-gray-900">¿Realiza actividad física?</label>
                <select formControlName="form_physical_activity"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                  <option [value]="true">Si</option>
                  <option [value]="false">No</option>
                </select>
              </div>
            
              <div>
                <label for="form_physical_activity_frequency" class="block mb-2 text-sm font-medium text-gray-900">Con qué frecuencia realiza actividad física</label>
                <input type="text" id="form_physical_activity_frequency" formControlName="form_physical_activity_frequency"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 disabled:bg-blue-400 pointer-events-auto">
              </div>

            <div>
                <label for="form_physical_activity_description" class="block mb-2 text-sm font-medium text-gray-900 ">Que tipo de actividad física realiza?</label>
                <input  type="text" id="form_physical_activity_description" formControlName="form_physical_activity_description"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 disabled:bg-blue-400 pointer-events-auto"
                    >
            </div>
        
        </div>

        <label class="flex mb-5" for="">Complicaciones y Otros Síntomas</label>
        <label class="flex mb-4 text-sm font-medium text-gray-700 ">Ha Experimentado Alguno de los Siguientes Síntomas Recientemente? (Marque Todos los que Apliquen)</label>

        <div class="grid gap-6 mb-6 lg:grid-cols-2">

            <div>
                <label for="form_blurred_vision" class="block mb-2 text-sm font-medium text-gray-900 ">Visión Borrosa</label>
                <select formControlName="form_blurred_vision"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    >
                    <option value=true>Si</option>
                    <option value=false>No</option>
                </select>
            </div>

            <div>
                <label for="form_slow_healing" class="block mb-2 text-sm font-medium text-gray-900 ">Heridas que No Cicatrizan</label>
                <select formControlName="form_slow_healing"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    >
                    <option value=true>Si</option>
                    <option value=false>No</option>
                </select>
            </div>

            <div>
                <label for="form_tingling_numbness" class="block mb-2 text-sm font-medium text-gray-900 ">Hormigueo o Entumecimiento en Extremidades</label>
                <select formControlName="form_tingling_numbness"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    >
                    <option value=true>Si</option>
                    <option value=false>No</option>
                </select>
            </div>

            <div>
                <label for="form_extreme_faigue" class="block mb-2 text-sm font-medium text-gray-900 ">Fatiga Extrema</label>
                <select formControlName="form_extreme_faigue"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    >
                    <option value=true>Si</option>
                    <option value=false>No</option>
                </select>
            </div>

            <div>
                <label for="form_incresed_thirst" class="block mb-2 text-sm font-medium text-gray-900 ">Visión Borrosa</label>
                <select formControlName="form_incresed_thirst"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                    >
                    <option value=true>Si</option>
                    <option value=false>No</option>
                </select>
            </div>

        </div>

        <label class="flex mb-5" for="">Objetivos y Expectativas</label>

        <div class="grid gap-6 mb-6 lg:grid-cols-2">

            <div>
                <label for="form_diabetes_objective" class="block mb-2 text-sm font-medium text-gray-900 ">Objetivos para el Control de la Diabetes</label>
                <input  type="text" id="form_diabetes_objective" formControlName="form_diabetes_objective"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 disabled:bg-blue-400 pointer-events-auto"
                    >
            </div>

            <div>
                <label for="form_additional_questions" class="block mb-2 text-sm font-medium text-gray-900 ">Preguntas o Inquietudes para el Endocrinólogo</label>
                <input  type="text" id="form_additional_questions" formControlName="form_additional_questions"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 disabled:bg-blue-400 pointer-events-auto"
                    >
            </div>

        </div>

        <button type="submit"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
    </form>
</div>
